<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/stylesheets/normalize.min.css">
        <link rel="stylesheet" href="/static/stylesheets/main.css">
        <link rel="icon" href="/static/images/favicon.ico">
        <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/static/bower_components/underscore/underscore.js"></script>
        <script src="/static/bower_components/socket.io-client/dist/socket.io.min.js"></script>
        <script src="/static/bower_components/phaser-official/build/phaser.min.js"></script>
    </head>
    <body>
    {{{body}}}
    </body>
</html>